<!DOCTYPE html>
<html>

<head>
    <title>HRPRO</title>
    <link rel="stylesheet" type="text/css" media="screen" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/main.sass.css">
	<link href="https://fonts.googleapis.com/css?family=Varela+Round|Roboto+Condensed:400,700" rel="stylesheet" type="text/css">
</head>

<body>
	<nav class="navbar">
			<a class="navbar-brand" href="#homePage"><span><span class="hr"><bold>HR</bold></span>PRO</span></a>
			<a href="#logOut" class="logOut"><span>Log Out</span></a>
	</nav>

	<!-- nav ends here-->
	<!-- logIn starts here-->
	<div class="container-fluid" id="logIn">
		<section class="row" id="home">
				<form id="logOnForm" role="form">
					<div class="peopleLogo">
					<img src="./images/logo.png">
					</div>
					<div class="form-group">
						<label>
							Username
						</label>
						<input type="username" class="form-control" id="adminUsername" />
					</div>
					<div class="form-group">
						<label>
							Password
						</label>
						<input type="password" class="form-control" id="adminPassword"/>
					</div>
					<a href="#homePage" type="button" class="loginBtn">
						Log In
					</a>
				</form>
		</section>
	</div>
<!--logIn ends here-->
<!--Employee section starts here-->
	<section class="container-fluid all " id="homePage">
		<div class="row">
			<div class="col-sm-4 staffers">
				<a href="#employees"><img src="./images/staff.gif"><br/></a>
				<a class="btn" href="#employees">Employees</a>
			</div>
			<div class="col-sm-4">
				<a href="#benefits"><img src="./images/med.gif"><br/></a>
				<a class="btn" href="#benefits">Benefits</a>
			</div>
			<div class="col-sm-4 message">
				<a href="#messaging"><img src="./images/message.png"><br/></a>
				<a class="btn" href="#messaging">Messaging</a>
			</div>
		</div>
	</section>

<!-- This is where the manager gets a view of a single employee. -->
	<section id="employees" class="all row">
		<div class="names">

		</div>
		<div class="col-md-6">
			<a class="btn" href="#addNewEmployee">Add New Employee</a>
		</div>

	</section>

    <section id="singleEmployee" class="all">
    </section>

   <section id="editEmployeeInfo" class="all">
   		<form>
    		<label>Name Edit
    			<input type="text" placeholer="name">
    		</label>
    	</form>
   </section>
   
    <section id="addEmployee" class="all">
    	<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<form>
						<label>
						NAME
						</label>
					</form>
				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
	</section>

	<footer class="blockfive">
		<a class="list">About Us</a>
		<a class="list">Terms of Service</a>
		<a class="list">Privacy</a>
		<a class="list">Contact Us</a>
	</footer>
     <script type="text/template" id="employeeView">
    	<div>NAME: <%- name %></div>
    	<div>PAY: <%- pay %></div>
    	<div>POSITION: <%- position %></div>
    	<div>STATUS: <%- status %></div>
    	<div>YEARS EMPLOYED: <%- yrs_employed %></div>
    </script>
    <script type="text/javascript" src="/scripts/bundle.js"></script>
   
</body>

</html>