@import '../node_modules/bootstrap/dist/css/bootstrap.css';

html, body {
	margin: 0 auto;
    font-family: 'Varela Round', sans-serif;
    height: 100%;
}

span {
    color: #FFDE47;
}

h2 {
    margin-left: 1em;
}

.addnewBtn {
    float: right;
    margin-top: -3.3em;
    margin-right: 2em;
    background: #2CA862;
    border-radius: .3em;
    padding: .5em .7em;
    text-transform: uppercase;
}

.peopleLogo {
    text-align: center;
    color: white;
}

.navbar {
    background: #2CA862;
}
.navbar-brand {
	font-size: 1.5em;
	font-weight: bolder;
	letter-spacing: 0.05em;
	}
	
.btn.outline {
    background: none;
    padding: .3em;
}

.btn-default {
    box-shadow: inset 1px 1px 1px;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.logOut {
    color: #777777;    
    float: right;
    padding-top: 1em;
    padding-right: 1em;
}

#logOnForm{
    background: #2CA862;
    padding: 3em;
    margin: 0 auto;
    margin-top: 7em;
    color: white;
}


.loginBtn {
    color: green;
    background: white;
    padding: .5em;
    box-shadow: inset 2px 2px 2px;
    border-radius: .3em;
    border: none;

}
.navbar {
    margin-bottom: 0;
}

#homePage {
    text-align: center;
    padding-top: 15em;
}

.benefits {
    text-align: center; 
}

.footer {
    list-style: none;
    float: right;
}

.blockfive {
    background-color: #2CA862;
    height: 4em;
    text-decoration: none;
    padding-top: .5em;
}

footer {
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}
 
footer a {
    list-style: none;
    width: 1em;
    line-height: 3em;
    padding-left: .5em;
    color: #FFDE47;
}

section.col-sm-4 {
    margin-top: 2em;
    padding-left: 4em;
    font-size: 1.3em;
}

.col-sm-4.staff {
    float: left;
    padding: 2em 0em 1em 2em;

    // a::before{
    //     content: url("../images/seo-panda-icon.png");
    //     height:5px;
    //     width: 5px;
    //     clear: both;
    //     text-align: center;
    // }
    
}

.hr {
    color: #0172B6;
    font-size: 1.2em;
}

.addInfo {
    background: #2CA862;
    padding: 3em;
    margin: 0 auto;
    margin-top: 7em;
    color: white;
    width: 30;
}

.addInfoBtn {
    color: green;
    background: white;
    padding: .5em;
    box-shadow: inset 2px 2px 2px;
    border-radius: .3em;
    border: none;
}

.staffView {
    margin: 3em;
    font-size: 1.3em;

}

#editEmployeeInfo, #addNewEmployee {
    margin-top: 2em;
}

@media screen and (max-width: 48em){
    html, body {
    margin: 0 auto;
    background: white;
}
    #logOnForm{
        width: 25em;
        border-radius: .4em;
    }
    #homePage {
        padding-top: 5em;
    }
}

@media screen and (min-width: 48em){
    html, body {
    margin: 0 auto;
    background: white;
}
    #logOnForm{
        width: 25em;
        border-radius: .4em;
    }
    .staffers {
        text-align: right;
    }
    .message {
        text-align: left;
    }
}

@media screen and (min-width: 62em){
    html, body {
    margin: 0 auto;
    background: white;
}
    #logOnForm{
        width: 25em;
        border-radius: .4em;
    }
    .staffers {
        text-align: right;
    }
    .message {
        text-align: left;
    }
}


